layout poetry

# load some secrets from 1Password
# Download the latest version. See below for other installation methods.
source_url "https://github.com/tmatilai/direnv-1password/raw/v1.0.0/1password.sh" \
    "sha256-EGpCcHQA5inHmMmkvj+TqIjPeNzzvG4F+BUXfFKb1c0="

op signin

from_op ACT365_USERNAME="op://Private/ACT365/Email"
from_op ACT365_PASSWORD="op://Private/ACT365/Password"
export ACT365_SITEID=8539
